/* Fonts
*******************************************/
@font-face {
    font-family: Verdana;
    src: url(fonts/Verdana.ttf);
}

@font-face {
	font-family : DinCondensed;
	src: url(fonts/FF_DIN_Condensed_Regular.otf);
}

@font-face {
	font-family : AvenirLTBook;
	src: url(fonts/AvenirLT45.ttf);
}
@font-face {
	font-family : AvenirLTRoman;
	src: url(fonts/AvenirLT55.ttf);
}
@font-face {
	font-family : Fago;
	src: url(fonts/FagoNo-Black.otf);
}


/* Général
*******************************************/
body, nav, header,footer{
	width:100%;
}

a {
	text-decoration:none;
}

#content{
	width: 100%;
}

/* Navigation
*******************************************/
nav {
	background-color:#34495e;
	height:60px;
	text-align:center;
}

#nav-wrapper{
	margin:auto;
	margin-top:19px;
	width:960px;
}

nav div#logo{
	background:url('images/logo.png') no-repeat 0 0;
	float:left;
	height:25px;
	width:162px;
}


nav div{
	display:inline-block;
}

#nav-wrapper div:nth-child(2){
	float:left;
	margin-left:80px;
	margin-top:2px;
}

#nav-wrapper div:nth-child(2) a{
	color:#fff;
	font-family:Verdana;
	font-size:18px;
}

#nav-wrapper div:nth-child(2) a:not(.first){
	margin-left:75px;
}

#nav-wrapper div:nth-child(3){
	float:right;
	margin-top:2px;
}

#nav-wrapper div:nth-child(3) a{
	color:#fff;
	font-family:DinCondensed;
	font-size:18px;
}

#nav-wrapper div:nth-child(3) a:not(.first){
	margin-left: 50px
}



/* Header
*******************************************/
header{
	background-color:#3498db;
	height:485px;
}

#tmc-wrapper{
	margin:auto;
	width:960px;
}

header #tmc{
	background:url('images/tweetmycreature.png') no-repeat 0 0;
	display: inline-block;
	float:left;
	height:260px;
	margin:100px 0 0 46px;
	text-align: center;
	width:470px;
}


#tmc p{
	color:#8fc2db;
	font-family:Verdana;
	font-size:20px;
	padding-top:155px;
}

#tmc a{
	color:#fff;
	display:block;
	font-size:20px;
	font-family:AvenirLTBook;
	height:40px;
	padding-top: 18px;
	width:320px;
}

#tmc div{
	background-color:#2980b9;
	display:inline-block;
	height:58px;
	margin-top:25px;
	width:320px;
}
 

header .illustration{
	background:url('images/creature-header.png') no-repeat 0 0;
	height:433px;
	float: left;
	margin: 31px 0 0 46px;
	width: 281px;
}



/* Content
*******************************************/
#first-block div, #second-block div, #third-block div{
	margin:auto;
	width: 960px
}

#first-block{
	background-color:#2980b9;
	height:106px;
}

#first-block div{
	color: #fff;
	font-family: AvenirLTBook;
	font-size: 30px;
	padding-top: 35px;
	height: 71px;
	text-align: center;
}

#second-block{
	background-color:#67aacf;
	color:#fff;
	font-family:AvenirLTBook;
	font-size:18px;
	height:308px;
}
div#profil, div#hof{
	float: left;
	height: 208px;
	line-height:25px;
	padding-top: 145px;
	text-align: center;
	width: 228px;
}

div#profil{
	background:url('images/profil-logo.png') no-repeat 52px 0;
	margin:65px 0 0 115px;
}
div#hof{
	background:url('images/hof-logo.png') no-repeat 48px 0;
	margin:65px 0 0 300px;
}


#third-block{
	background-color:#3498db;
	height:1445px;
}

h2{
	color: #fff;
	display:inline-block;
	float: left;
	font-family:AvenirLTBook;
	font-size:30px;
	margin-top: -71px;
	margin-left: 355px;
}

#third-block div.creature{
	float: left;
	margin-left:95px;
}

div.creature img, div.creature p{
	color:#fff;
	float:left;
}

div.creature p{
	font-family:AvenirLTBook;
	font-size:16px;
	line-height: 26px;
	margin:56px 0 0 48px;
	width:460px;
}

img#oldCreature{
	margin-left:30px;
}

#third-block .button{
	background-color:#2980b9;
	float:left;
	height: 58px;
	margin:30px 0 0 320px;
	width: 320px;
}
#third-block .button a{
	color:#fff;
	display:block;
	font-family: AvenirLTBook;
	font-size: 20px;
	height: 39px;
	padding:19px 0 0 97px;
	width: 223px;
}


/* Footer
*******************************************/
footer{
	background-color:#34495e;
	color:#fff;
	font-family: Verdana;
	font-size: 14px;
	height:42px;
	padding-top:25px;
	text-align: center;
}



/**###############################################################################################################**/
/**################################################ HALL OF FAME ################################################**/
#headerhof{
	height:184px;
	text-align: center;
	padding-top: 92px;
}

#headerhof h1{
	color:white;
	text-transform: uppercase;
	font-family: Fago;
	font-size: 30px;
}

#headerhof div{
color:#343434;
font-family: Verdana;
font-size: 18px;
padding-top: 5px;
}

#no1{
height:403px;
width:100%;
background-color:#2a3a4a;
margin: 0 auto;
text-align: center;
	
}

#tableuser{
	background-color:#828f9c;
	height:572px;
	width:960px;
	margin:0 auto;

}

#contenthof{
	background-color:#3498db;
}

table#tableother{
	border:1px solid white;
	width: 666px;
	margin: 0 auto;
}

table#tableother tr{
	height:85px;
	text-align: center;
}

table#tableother td{

border:1px solid white;
background-color: #cdcdcd;
text-align: center;
vertical-align: middle;

/*padding-top: 42px;*/
}

div#imgcreature{
	background:url('images/creature-new.png') no-repeat;
	background-size: 38px 72px;
	background-color: #c1bdbd;
	height:78px;
	width: 78px;
	background-position: center;

}
#tablewiner{
	margin: 0 auto;
	top: 201.1px;
}

#no1 .imgwinner{
		background:url('images/creature-evolved.png') no-repeat;
		background-size: 117px 169px;
		background-position: center;
		background-color:#272829;
		height: 172px;
		width:172px;

}

#no1 .number{
	color:#cfa45b;
	font-size: 58px;
	font-family: Fago;
	text-align: left;
	margin-left:41px;

} 

#no1 .point{
	border:solid #cfa45b 5px;
	display: inline;
	border-radius: 50%;
	font-size: 58px;
	font-family: Verdana;
	color:white;
	text-transform: uppercase;
	height: 262px;
	width: 262px;
}

#no1 .nbtweet{
	border:solid #cfa45b 5px;
	display: inline;
	font-size: 58px;
	font-family: Verdana;
	color:white;
	text-transform: uppercase;
	height: 262px;
	width: 262px;
	border-radius: 50%;


}

#no1 .userwin{
font-size: 36px;
font-family: Verdana;
color:white;
text-align: left;
margin-left:20px;
}